
    <div class="row">
        <div class="col-3">
            <app-detail></app-detail>
        </div>
        <div class="col-9">
            <app-chart></app-chart>
            <br/><br/>
            <app-table></app-table>
        </div>
    </div>
