<div *ngIf="product" class="card">
  <div class="card-body">
    <div class="text-center">
      <img *ngIf="product.image" [src]="product.image" class="productImage" /><br />
      <span class="title">{{product.title}}</span><br />
      <div class="subtitleContainer">
        <span class="subtitle">{{product.subtitle}}</span>
      </div>
    </div>
    <hr>
    <div>
      <button *ngFor="let tag of product.tags" type="button" class="btn btn-outline-secondary tagButton">{{tag}}</button>
      <div class="clear"></div>
    </div>
    <hr>
    <a href="#"><span class="menuOption"><img src="assets/images/overview.png" width="30" height="30"> OVERVIEW</span><br /></a>
    <a href="#"><span class="menuOption selected"><img src="assets/images/sales.png" width="30" height="30"> SALES</span><br /></a>
  </div>
</div>