.title{
    font-size: 1.0em;
    font-weight: bold;
}

.subtitle{
    font-size: .8em;
    color: gray;
}

.menuOption{
    font-size: 1.0em;
    color: gray;
    
}
.selected{
    font-size: 1.0em;
    color: black;
    font-weight: bold;
}
a{
    text-decoration: none
}
.tagButton{
    margin: 5px 5px 5px 5px;
}
.productImage{
    width: 135px;
    height: 135px;
    padding: 15px 15px 15px 15px;
}

.subtitleContainer{
 width: 200px;
 margin: auto;
}