<nav class="navbar navbarcustom">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/logo.png" width="176" height="42" class="d-inline-block align-top" alt="">
  </a>
</nav>
<br/><br/>
<router-outlet></router-outlet>
