/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


.card{
    margin: 5px 5px 5px 5px;
}


body{
    background:#e6f2ff;
}

h2{
    font-size: 1em;
}