<div *ngIf="product" class="card">
  <div class="card-body">
      <table class="table">
          <thead>
      <tr>
          <th scope="col">WEEK ENDING</th>
          <th scope="col">RETAIL SALES</th>
          <th scope="col">WHOLESALE SALES</th>
          <th scope="col">UNITS SOLD</th>
          <th scope="col">RETAILER MARGIN</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of product.sales">
        <td>
          {{ sale.weekEnding | dateFormat }}
        </td>
        <td>
          {{ sale.retailSales | currency }}
        </td>
        <td>
          {{ sale.wholesaleSales | currency }}
        </td>
        <td>
          {{ sale.unitsSold }}
        </td>
        <td>
          {{ sale.retailerMargin | currency }}
        </td>
 
      </tr>
    </tbody>
    </table>
  </div>
</div>